<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Add</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Add a Event</h1>

    <form action="/events/add" th:method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='name'>Event</span>
            <input th:value="${#strings.isEmpty(name) ? '' : name}" type='text' maxlength='255' class='form-control'
                   name = 'name' aria-label='name' aria-describedby='name'>
            <th:block th:if="${error_id == '1'}">
                <i class="fas fa-exclamation-triangle" style="color: red; margin-left: 10px;"></i>
            </th:block>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='venue'>Venue ID</span>
            <select class="form-select" name="venue_id" aria-label="venue">
                <option value="99">Choose...</option>
                <option th:each="venue : ${venues}" th:value="${venue.id}" th:text="${venue.name}"
                        th:selected="${venue_id == venue.id}"></option>
            </select>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='date'>Date</span>
            <input th:value="${#strings.isEmpty(date) ? '' : date}" type='date' class='form-control'
                   name = 'date' aria-label='date' aria-describedby='date'>
            <th:block th:if="${error_id == '2' || error_id == '3'}">
                <i class="fas fa-exclamation-triangle" style="color: red; margin-left: 10px;"></i>
            </th:block>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='time'>Time</span>
            <input th:value="${#strings.isEmpty(time) ? '' : time}" type='time' class='form-control'
                   name = 'time' aria-label='time' aria-describedby='time'>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='description'>Description</span>
            <input th:value="${#strings.isEmpty(description) ? '' : description}" type='text' maxlength='499'
                   class='form-control' name = 'description' aria-label='description' aria-describedby='description'>
        </div>
        

        <a href="/events" class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="fas fa-check"></i> Confirm
        </button>
        <input style="color: red; margin-top: 50px; background: none; border: none; outline: none;"
               type="text" class="form-control" name="error" th:value="${error}" disabled>
    </form>
</div>
</body>
</html>