<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Edit</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Edit this Event</h1>

    <form th:action="@{/events/edit/{id}(id=${event.id})}" th:method="post" th:object="${event}">
        <div class='input-group mb-3'>
            <span class='input-group-text' id='name'>Event</span>
            <input type='text' class='form-control' name = 'name'
                   th:value="${event.name}" aria-label='name' aria-describedby='name'>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='venue'>Venue ID</span>
            <input type='text' class='form-control' name = 'venue_id'
                   th:value="${event.venue.id}" aria-label='venue' aria-describedby='venue'>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='date'>Date</span>
            <input type='text' class='form-control' name = 'date'
                   th:value="${event.date}" aria-label='date' aria-describedby='date'>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='time'>Time</span>
            <input type='text' class='form-control' name = 'time'
                   th:value="${event.time}" aria-label='time' aria-describedby='time'>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='description'>Description</span>
            <input type='text' class='form-control' name = 'description'
                   th:value="${event.description}" aria-label='description' aria-describedby='description'>
        </div>


        <a href="/events" class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="fas fa-check"></i> Confirm 
        </button>
        <input style="margin-top: 50px" type="text" class="form-control" name="error" th:value="${error}" disabled>
    </form>
  </div>
</body>
</html>