<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All events
        <td sec:authorize="isAuthenticated()">
            <a href="/events/add" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add new</a>
        </td>
        <form action="events/search" style="margin-top: -40px; margin-bottom: 8px; width: 63%" method="get">
            <label for="search-input"></label>
            <div class="input-group">
                <input
                        type="text"
                        id="search-input"
                        name="q"
                        class="form-control col-md-5"
                        placeholder="Enter your words"
                />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th style="text-align: center"><i class="fas fa-clock" ></i> Time</th>
          <th sec:authorize="isAuthenticated()"><i class="fas fa-edit"></i> Manage</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="e : ${events}">
          <td ><a th:href="@{/events/description(id=${e.id})}" th:text="${e.name}">See more</a></td>
          <td th:text="${e.venue.name}">Event Venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${#strings.isEmpty(e.time) ? 'N/A' : e.time}" style="text-align: center">Event time</td>
          <td sec:authorize="isAuthenticated()">
          <a th:href="@{/events/edit/{id}(id=${e.id})}" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i> Edit
          </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</body>
</html>
