<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
	<meta charset="utf-8">
    <title>All events</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
    <style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 2; bottom: 200; width: 74%; height: 300px; }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <h1>All events
            <td sec:authorize="isAuthenticated()">
                <a href="/events/add" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add new</a>
            </td>
            <form action="events/search" style="margin-top: -40px; margin-bottom: 8px; width: 63%" method="get">
                <label for="search-input"></label>
                <div class="input-group">
                    <input
                            type="text"
                            id="search-input"
                            name="q"
                            class="form-control col-md-5"
                            placeholder="Enter your words"
                    />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </h1>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th><i class="fas fa-bolt"></i> Event</th>
                <th><i class="fas fa-map-marker-alt"></i> Venue</th>
                <th><i class="fas fa-calendar"></i> Date</th>
                <th style="text-align: center"><i class="fas fa-clock"></i> Time</th>
                <th sec:authorize="isAuthenticated()"><i class="fas fa-edit"></i> Manage</th>
                </tr>
            </thead>

            <tbody>
                <th:block th:if="${upcomingEvents.iterator().hasNext()}">
                    <tr><td colspan="6" style="text-align: center; font-weight: bold;">Upcoming Events</td></tr>
                </th:block>
                <tr class="location-row" th:each="e : ${upcomingEvents}">
                    <td><a th:href="@{/events/description(id=${e.id})}" th:text="${e.name}">See more</a></td>
                    <td class="location-cell" th:text="${e.venue.name}">Event venue</td>
                    <td th:text="${{e.date}}">Event date</td>
                    <td style="text-align: center" th:text="${{e.time}}">Event time</td>
                    <td sec:authorize="isAuthenticated()">
                    <a th:href="@{/events/edit/{id}(id=${e.id})}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i> Edit
                    </a>
                    </td>
                </tr>
                <th:block th:if="${previousEvents.iterator().hasNext()}">
                  <tr>
                      <td colspan="6" style="text-align: center; font-weight: bold;">Previous Events</td>
                  </tr>
                </th:block>
                <tr th:each="e : ${previousEvents}">
                    <td><a th:href="@{/events/description(id=${e.id})}" th:text="${e.name}">See more</a></td>
                    <td th:text="${e.venue.name}">Event venue</td>
                    <td th:text="${{e.date}}">Event date</td>
                    <td style="text-align: center" th:text="${{e.time}}">Event time</td>
                    <td sec:authorize="isAuthenticated()">
                      <a th:href="@{/events/edit/{id}(id=${e.id})}" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i> Edit
                      </a>
                    </td>
                </tr>
            </tbody>
          </table>
          <br>
          <h1>Social Feed</h1>
          <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><i class="fas fa-clock"></i> Time</th>
                    <th><i class="fas fa-calendar"></i> Date</th>
                    <th><i class="fas fa-comment"></i> Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${messageTimes.get(0)}">Message Time</td>
                    <td th:text="${messageDates.get(0)}">Message Date</td>
                    <td><a th:href="${messageURLs.get(0)}" th:text="${messageContents.get(0)}">Comment</a></td>
                </tr>
                <tr>
                    <td th:text="${messageTimes.get(1)}">Message Time</td>
                    <td th:text="${messageDates.get(1)}">Message Date</td>
                    <td><a th:href="${messageURLs.get(1)}" th:text="${messageContents.get(0)}">Comment</a></td>
                </tr>
                <tr>
                    <td th:text="${messageTimes.get(2)}">Message Time</td>
                    <td th:text="${messageDates.get(2)}">Message Date</td>
                    <td><a th:href="${messageURLs.get(2)}" th:text="${messageContents.get(0)}">Comment</a></td>
                </tr>
            </tbody>
          </table>
        <div id="map"></div>
        <script>
            const locations = [];
            const locationElements = document.querySelectorAll('.location-row .location-cell');
            locationElements.forEach(element => locations.push(element.textContent));
            mapboxgl.accessToken = 'pk.eyJ1IjoiN3Nlbmxpbi1taWFvIiwiYSI6ImNsZjhnOTBnNTBncm4zc252anM4ZHhmYmEifQ.8Xkazn-qXfFkT0yk_SDb8g';

            const map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/streets-v12',
              center: [-2, 53.5],
              zoom: 7
            });

            locations.forEach(location => {
              fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(location)}.json?access_token=${mapboxgl.accessToken}`)
                .then(response => response.json())
                .then(data => {
                  const feature = data.features[0];
                  if (feature) {
                    const marker = new mapboxgl.Marker()
                      .setLngLat(feature.center)
                      .addTo(map);
                  }
                });
            });
        </script>

    </div>
</body>
</html>