<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Add</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Add a Venue</h1>

    <form action="/venues/add" th:method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='name'>Venue</span>
            <input th:value="${#strings.isEmpty(name) ? '' : name}" type='text' maxlength='255' class='form-control' name = 'name' aria-label='name' aria-describedby='name'>
            <th:block th:if="${error_id == '2'}">
                <i class="fas fa-exclamation-triangle" style="color: red; margin-left: 10px;"></i>
            </th:block>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='address'>Address</span>
            <input th:value="${#strings.isEmpty(address) ? '' : address}" type='text' maxlength='299' class='form-control' name = 'address' aria-label='address' aria-describedby='address'>
            <th:block th:if="${error_id == '3' || error_id == '6'}">
                <i class="fas fa-exclamation-triangle" style="color: red; margin-left: 10px;"></i>
            </th:block>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='postcode'>Postcode</span>
            <input th:value="${#strings.isEmpty(postcode) ? '' : postcode}" type='text' class='form-control' name = 'postcode' aria-label='postcode' aria-describedby='postcode' placeholder="Format: 'City PostCode' e.g 'Manchester M13 9TX'">
            <th:block th:if="${error_id == '4'}">
                <i class="fas fa-exclamation-triangle" style="color: red; margin-left: 10px;"></i>
            </th:block>
        </div>
        <div class='input-group mb-3'>
            <span class='input-group-text' id='capacity'>Capacity</span>
            <input th:value="${#strings.isEmpty(capacity) ? '' : capacity}" type='number' class='form-control' name = 'capacity' aria-label='capacity' aria-describedby='capacity'>
            <th:block th:if="${error_id == '5'}">
                <i class="fas fa-exclamation-triangle" style="color: red; margin-left: 10px;"></i>
            </th:block>
        </div>

        <a href="/venues" class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="fas fa-check"></i> Confirm
        </button>
        <input style="color: red; margin-top: 50px; background: none; border: none; outline: none;"
               type="text" class="form-control" name="error" th:value="${error}" disabled>
    </form>
</div>
</body>
</html>