<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event description</title>
</head>
<body>
  <div layout:fragment="content">
	<h1 th:text=${event.name}> Event Name </h1>
	<div>Venue: <span th:text=${event.venue.name}> Venue Name </span></div>
	<div>Date: <span th:text=${event.date}> Event Date </span></div>
	<div>Time: <span th:text=${event.time}> Event Time </span></div>
	<p>Description: </p>
	<p th:text=${event.description}> Event Description</p>
		
  </div>
  <form method="post" th:action="@{/events/{id}(id=${event.id})}">
    <button type="submit" class="btn btn-danger btn-sm">
        <i class="fas fa-trash"></i> Delete
    </button>
</form>

	
</body>
</html>